<div id ="logo">
  <%=image_tag 'logo.gif'%>
</div>


<div id="navigation">
  <ul id="nav_bar">
    <li><%=link_to 'Sign in',sign_in_path%></li>
    <li id ="selected"><%=link_to 'Sign up',sign_up_path%></li>
  </ul>
</div>
<div class="line">
  <div class ="index_form">
    <div class ="form">
      <% semantic_form_for @user do |form| %>
        <%= form.error_messages %>
        <%= render :partial => "/users/inputs", :locals => { :form => form } %>

        <% form.buttons do %>
          <%= form.commit_button "Sign up" %>
        <% end %>
      <% end %>

    </div>
    <p style="font-size: 0.8em;">
      *This application uses your avatar from <%=link_to "Gravatar","http://www.gravatar.com/"%>. Please register there with the same email address as this.
    </p>
  </div>
</div>