<div id ="content">
  <div class="left_page">
    <div class ="left_container">
      <div id ="top_logo">
        <%=image_tag 'logo.gif'%>
      </div>
      <div id ="user_profile">
        <span id ='user_photo'><%= image_tag current_user.gravatar_url(:size=>80)%><br/></span>
        <ul id="post_nav">
          <li><%=current_user.screen_name%></li>
          <li id ="sign_out"><%= link_to 'Sign out',sign_out_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="middle_page">
    <div class ="middle_container">
      <div id ="status_update">
        <%=render :partial=>'posts/status'%>
      </div>
      <div id ="my_posts">
        <%=render :partial => @posts%>
        <%=will_paginate @posts%>
      </div>
    </div>
  </div>
  <div class ="right_page">
    <div class ="right_container">
      <div id="right_adv">
      </div>
      <div id="comment_section">

      </div>
    </div>
  </div>
</div>
<script>
  function callMe()
  {
    $.ajax({
      method: 'get',
      url : "<%=url_for(:controller=>'posts',:action=>'fetch_new_posts')%>",
      dataType : 'text',
      success: function (text) {
        $(text).hide().prependTo('#my_posts').fadeIn('slow');
        var size = $("#my_posts > div").size();
        size = size -1;
        var limit = 5;
        while(size>limit) {
          $('.post:last').remove().fadeOut('slow');
          size--;
        }
      }
    });
  }
  var myInterval = setInterval(callMe, 15000);
</script>
